In [25]:
import numpy as np
import pandas as pd
import random
from sklearn.model_selection import train_test_split

In [13]:
data = pd.read_csv('./clean_spam.csv', encoding = "ISO-8859-1")

In [14]:
data.shape

(4951, 2)

In [15]:
data.head(10)

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5   ham  Even my brother is not like to speak with me. ...
6   ham  As per your request 'Melle Melle (Oru Minnamin...
7  spam  Had your mobile 11 months or more? U R entitle...
8   ham  I'm gonna be home soon and i don't want to tal...
9  spam  SIX chances to win CASH! From 100 to 20,000 po...

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4951 entries, 0 to 4950
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      4951 non-null   object
 1   v2      4951 non-null   object
dtypes: object(2)
memory usage: 77.5+ KB

In [18]:
spam_index = data[data['v1'] == 'spam'].index
ham_index = data[data['v1'] == 'ham'].index

In [23]:
spam_index.size

478

In [24]:
ham_index.size

4473

In [57]:
X = data['v2'].to_numpy()
y = data['v1'].to_numpy()

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, shuffle=True, stratify=y)

In [67]:
y_train.size

3960

In [68]:
y_test.size

991